.video{
    display: none;
    width: 70%;
    height: 15cm;
    margin-top: 1cm;
    margin-left: 5cm;
}
#course-details{
    display: flex;
    width: 65%;
    margin-left: 2cm;
    margin-top: 1cm;
    font-size: 0.5cm;
    font-family: sans-serif;
}
#course-details img{
    position: absolute;
    height: 6cm;
    margin-top: -8cm;
    margin-left:25cm ;
    width: 10cm;
}
.container #course-details,img{
    display: none;
}
#progress-container {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    margin-top: 10px;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
}